* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header {
  width: 100%;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  transition: top 0.3s ease-in-out;
  z-index: 9999;
}
.scrolled {
  display: none;
}
.head {
  display: flex;
  height: 90px;
  align-items: center;
  background-color: #d63125;
  color: #fff;
}
.logo {
  margin: 10px;
}
.brand-name {
  display: flex;
  flex-direction: column;
}
.navbar-center {
  height: 40px;
  background-color: #ffd11a;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.list-menu li {
  display: inline;
  list-style-type: none;
  margin: 0 10px 0 10px;
}
.menu-item a {
  text-decoration: none;
  color: #000;
  font-size: 22px;
}
.container-fluid {
  margin-top: 130px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;

  /* width: 100%; */
  /* background-color: #d63125; */
}
.animated-text {
  background-repeat: no-repeat;
  color: transparent;
  height: 60px;
  background-image: linear-gradient(111deg, rgb(14, 13, 12), rgb(13, 13, 11));
  -webkit-background-clip: text;
  background-position: -90vw 0;
  animation: backcolor 6s linear forwards alternate;
  user-select: none;
  margin-top: 30px;
  margin-bottom: 30px;
}
.animated-text h3 {
  font-size: 3vw;

  font-weight: 600;
}
@keyframes backcolor {
  100% {
    background-position: 0 0;
  }
}

/* Slide */
#slid {
  position: relative;
  overflow: hidden;
  width: calc(100% - 20px); /* Chiều dài bằng toàn bộ trang với margin 10px */
  /* margin: 10px; */
  height: 500px;
  margin-bottom: 50px;
}
.panel {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.panel img {
  width: 100%;
  height: inherit;
}
.danhSach {
  text-decoration: none;
  margin-top: 10px;
  position: absolute;
  bottom: 10%;
  left: 45%;
}
.danhSach ul {
  display: inline-block;
  padding: 10px;
  list-style: none;
}
.danhSach ul li {
  display: inline-block;
  margin: 0 5px;
  width: 20px;
  height: 20px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
.danhSach ul li:active {
  background-color: black;
}
.mail {
  text-align: center;
  background-color: #f2c926;
  /* justify-content: center; */
  /* align-items: center; */
  display: block;
  width: 1080px;
  height: 500px;
}
.mail-content {
  position: absolute;
  text-align: left;
  left: 13%;
  width: 70%;
  height: 68%;
  background-color: #fff;
  border-radius: 10px;
}
